<div *ngIf="(exercise$ | async) as exercise">
    <!-- Display data here -->
      
    <div *ngIf="exercise.id != '-1'">
        <h1>{{ exercise.name }}</h1>
        <p>Muscle groups: {{ this.getMuscleGroupList(exercise.muscleGroups) }}</p>
        <p>Description: {{ exercise.description }}</p>


        <button mat-raised-button (click)="delete()">Delete</button>

    </div>
    
      
    <div *ngIf="exercise.id == '-1'">
        <p>Error, exercise was not found and may have been deleted.</p>
    </div>

</div>
  
<div *ngIf="!(exercise$ | async)">
    <!-- Show loading or placeholder content -->
    <p>Loading...</p>
</div>