<div class="container-fluid">
    <h2>Create new exercise</h2>

      <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name">
        </div>

        <div>
          <ng-multiselect-dropdown formControlName="muscleGroups"
            [placeholder]="'Muscle Groups'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
          >
          </ng-multiselect-dropdown>
        </div>
        
        <div>
          <label for="description">Description:</label>
          <textarea id="description" formControlName="description"></textarea>
        </div>

        <button id="submitForm" type="submit" [disabled]="exerciseForm.invalid">Submit</button>
        <ng-container *ngIf="this.exerciseForm.get('name')?.invalid">
          <p>Please enter a name.</p>
        </ng-container>
      </form>

</div>
