<div class="container-fluid">
    <h2>Create new exercise</h2>

      <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name">
        </div>

        <div>
          <ng-multiselect-dropdown></ng-multiselect-dropdown>


            <label for="muscleGroupsCheckList">Muscle Groups:</label>
            <ul FormArrayName="muscleGroups" id="muscleGroupsCheckList">
                <li *ngFor="let muscleGroup of muscleGroups; let i = index">
                    <label [for]="muscleGroup + 'Checkbox'">{{ muscleGroup }}
                        <input [formControlName]="i" type="checkbox" [id]="muscleGroup + 'Checkbox'">
                    </label>
                </li>
            </ul>
        </div>

        <div>
          <label for="description">Description:</label>
          <textarea id="description" formControlName="description"></textarea>
        </div>

        <button type="submit" [disabled]="exerciseForm.invalid">Submit</button>
      </form>

</div>
